{% extends "loglay.html" %}
{% block title %}Register{% endblock %}

{% block loglay %}
  <br><br>
  <header id="msgrg" class="text-center">
    <h1>Get Started!</h1>
    <p>Create a new account to start rating movies!</p>
  </header>
  <main class="container py-5 text-center">
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-warning" type="submit">Register</button>
    </form>
  </main>
  {% if error %}
<script>
    alert("{{ error }}");
</script>
{% endif %}
  {% endblock %}
